<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp" ng-cloak>
  <h1>My google map demo</h1>
  <br>
  <div ng-controller="myCtrl as ctrl" ng-init="initMap()">
    <div id="map" style="overflow: auto; height:400px"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">

          <h2>Theater list: </h2>
          <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
              <p>Please input the location of theater: </p>
              <md-autocomplete
                md-no-cache="false"
                md-search-text-change="searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in querySearch(ctrl.searchText)"
                md-item-text="item.locations"
                md-min-length="0"
                placeholder="thearter location"
              >
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.locations}}</span>
                </md-item-template>
              </md-autocomplete>
            </form>
          </md-content>

          <button class="btn btn-info" data-toggle="collapse" data-target="#demo">
              Display the theater list
          </button>
          <ul id="demo" class="list-group collapse">
            <li class="list-group-item " ng-repeat="x in mydata | unique:'locations'|orderBy:'locations' " ng-show="x.locations" ng-click="locate(x.locations)">
              <span>{{x.locations}}</span>
            </li>
          </ul>
        </div>

        <div id="film_list" class="col-md-8 col-lg-8 col-sm-12" ng-show="theaterSelected">
          <h2>Filed Movie before {{currentYear}}</h2>
          <ul class="panel-group">
            <li class="panel panel-default" ng-repeat="film in films  ">
              <div class="panel-heading"><b>File Title</b> {{film.title}}</div>
              <div class="panel-body">
                <p><b>Release Year</b> {{film.release_year}}</p>
                <p><b>Director</b> {{film.director}}</p>
                <p><b>Production Company</b> {{film.production_company}}</p>
                <p><b>Location</b> {{film.locations}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="http://maps.google.com/maps/api/js"></script>

  <script src="app.js"></script>

</body>
</html>
